body {
    
    margin:0em;
    font-family: 'Bowlby One SC', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  }
  
  .cover {
    height: 400px;
    background-image: url(/assets/img/rsz_3petr-sevcovic-qe1jxyxiwoa-unsplash_3.jpg);
    color:white;
    background-size: cover;
    background-position: center;
    }
    
    .cover-small{
        height: 200px;
        background-blend-mode: normal;
    }
  