body{

    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, rgb(167, 119, 151)), rgb(255,233,236);
    padding:0;
    margin:0;
    background-color:darkcyan;
    background-image: url("assets/img/fondoclar.jpg");
    
    
    
}
header{
    text-align: center;

}



h1{
    background-color: rgb(34, 187, 192);
    padding: 45px; 
    margin: 0;
    color: rgb(10 10 10); }

h2{
    font-size: 24px;
    margin: 0;
    padding: 0; }
/*add other common styles if any*/