//variables
$primary-color:rgb(34, 187, 192);
$secondary-color:rgb(238, 255, 0);


//mixins
@mixin image-size($width){
    background-image: url(assets/img/fondoclaro.png);
    height:auto;
}



/*add other variables and maxins if any */
