
//main.scss

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import "_vars";
@import"_commons";
@import"_nav";
@import"_tienda";

body{

    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, rgb(167, 119, 151)), rgb(255,233,236);
    padding:0;
    margin:0;
    background-color:darkcyan;
    background-image: url("assets/img/fondoclar.jpg");
    
    
    
}


ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: $secondary-color;
}

li {
    float:left;
}


li a {
    display: block;
    color:rgb(8,8,8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* add other global styles if any */
